.bte_button:hover {
    background-color: var(--balc_button-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.bte_button:focus {
    background-color: var(--balc_button-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.bte_button:disabled {
    color: var(--balc_button-disabled-foreground-color);
    background-color: var(--balc_button-disabled-background-color);
}

.bte_button:disabled {
    color: var(--balc_button-disabled-foreground-color);
    background-color: var(--balc_button-disabled-background-color);
}

.bte_button:disabled:hover {
    color: var(--balc_button-disabled-foreground-color);
    background-color: var(--balc_button-disabled-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.bte_button:disabled:focus {
    color: var(--balc_button-disabled-foreground-color);
    background-color: var(--balc_button-disabled-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.balc_button {
    color: var(--balc_button-foreground-color);
}

.balc_button:focus {
    background-color: var(--balc_button-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.balc_button.balc_active {
    background-color: var(--balc_toggled-on-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.balc_button.balc_active:hover {
    background-color: var(--balc_toggled-on-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.balc_button.balc_active:focus {
    background-color: var(--balc_toggled-on-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.balc_button.balc_button-close {
    background-color: var(--balc_danger-general-use-color);
    margin-left: 10px;
}

.balc_button.balc_button-close:hover {
    background-color: var(--balc_danger-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.balc_button.balc_button-close:focus {
    background-color: var(--balc_danger-hover-background-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.balc_button {
    background-color: var(--balc_button-background-color);
    color: var(--balc_button-foreground-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balc_button:hover {
    background-color: var(--balc_button-hover-background-color);
}

.balc_button:focus {
    outline: solid var(--balc_menu-option-display-focus-outline-size) var(--balc_primary-emphasis-foreground-color);
    background-color: var(--balc_button-hover-background-color);
}

.balc_button.balc_active {
    background-color: var(--balc_active-button-background-color);
    color: var(--balc_active-button-primary-font-color);
}

.balc_button.balc_disabled {
    background-color: var(--balc_primary-disabled-background-color);
    color: var(--balc_primary-disabled-foreground-color);
}

.balc_button.balc_disabled:hover {
    background-color: var(--balc_primary-disabled-hover-background-color);
    color: var(--balc_primary-disabled-hover-foreground-color);
}

.balc_button.balc_disabled:focus {
    background-color: var(--balc_primary-disabled-hover-background-color);
    color: var(--balc_primary-disabled-hover-foreground-color);
}

.balc_tab:not(:first-of-type) {
    border-left: 2px solid var(--balc_primary-border-color);
}

.balc_primary {
    background-color: var(--balc_primary-general-use-color);
}

.balc_secondary {
    background-color: var(--balc_secondary-general-use-color);
}

.balc_success {
    background-color: var(--balc_success-general-use-color);
}

.balc_info {
    background-color: var(--balc_info-general-use-color);
}

.balc_warning {
    background-color: var(--balc_warning-general-use-color);
}

.balc_danger {
    background-color: var(--balc_danger-general-use-color);
}

.balc_primary:hover {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_secondary:hover {
    background-color: var(--balc_secondary-hover-background-color);
}

.balc_success:hover {
    background-color: var(--balc_success-hover-background-color);
}

.balc_info:hover {
    background-color: var(--balc_info-hover-background-color);
}

.balc_warning:hover {
    background-color: var(--balc_warning-hover-background-color);
}

.balc_danger:hover {
    background-color: var(--balc_danger-general-use-color);
}

.balc_resize-column {
    background-color: var(--balc_resize-column-background-color);
    height: 100%;
    cursor: e-resize;
}

.balc_resize-row {
    background-color: var(--balc_resize-row-background-color);
    width: 100%;
    cursor: n-resize;
}

.balc_dialog-display {
    z-index: var(--balc_dialog-display-z-index);
    background-color: var(--balc_dialog-display-background-color);
    box-shadow: 0 0 var(--balc_dialog-display-box-shadow-blur-radius) var(--balc_primary-box-shadow-color);
}

.balc_dialog-display-toolbar {
    height: var(--balc_dialog-display-toolbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--balc_dialog-display-toolbar-background-color);
}

.balc_dialog-display-buttons {
    display: flex;
    align-items: center;
}

.balc_dialog-display-button-entry {
    margin-right: var(--balc_dialog-display-button-entry-margin-right);
    padding: var(--balc_dialog-display-button-entry-padding);
    display: inline-flex;
    height: fit-content;
}

.balc_dialog-display-body {
    height: calc(100% - var(--balc_dialog-display-toolbar-height));
}

.balc_out-of-bounds-click-display {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.lds-dual-ring {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1em;
    height: 1em;
    margin: .2em;
    border-radius: 50%;
    border: .15em solid var(--balc_primary-font-color);
    border-color: var(--balc_primary-font-color) transparent var(--balc_primary-font-color) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.balc_notification {
    position: fixed;
    z-index: var(--balc_notification-display-z-index);
    background-color: var(--balc_notification-display-background-color);
    box-shadow: 0 0 var(--balc_notification-display-box-shadow-blur-radius) var(--balc_primary-box-shadow-color);
}

.balc_notification-toolbar {
    height: var(--balc_notification-display-toolbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--balc_notification-display-toolbar-background-color);
}

.balc_notification-control-buttons {
    display: flex;
    align-items: center;
}

.balc_notification-body {
    height: calc(100% - var(--balc_notification-display-toolbar-height));
    overflow: auto;
}

.balc_tree-view-exception {
    color: var(--balc_error-foreground-color)
}

.balc_context-menu-content {
    z-index: var(--balc_dropdown-display-z-index);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    color: var(--balc_primary-font-color);
}

.balc_dropdown-display {
    z-index: var(--balc_dropdown-display-z-index);
    position: absolute;
    color: var(--balc_tertiary-foreground-color);
    background-color: var(--balc_tertiary-background-color);
    box-shadow: 0 0 var(--balc_dropdown-display-default-background-box-shadow-blur-radius) var(--balc_box-shadow-color);
}

.balc_menu-display:focus {
    outline: solid var(--balc_menu-display-focus-outline-size) var(--balc_outline-with-focus-color);
}

.balc_menu-option-widget {
    padding-bottom: 10px;
}

.balc_menu-option-display {
    position: relative;
    white-space: nowrap;
    cursor: default;
    padding: 0 var(--balc_menu-option-display-padding-width);
}

.balc_menu-option-display.balc_active {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_menu-option-display:hover {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_menu-option-display:focus {
    outline: solid var(--balc_menu-option-display-focus-outline-size) var(--balc_outline-with-focus-color);
}

.balc_context-menu {
    position: fixed;
    min-width: 15ch;
    min-height:6em;
}

.balc_drag-display {
    z-index: var(--balc_drag-display-z-index);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.balc_unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.balc_set-selectable {
    /* 
        "balc_set-selectable" is for child elements of 
        a "balc_unselectable" where the child needs to
        re-enable selectable when the parent turned it off.
    */
    
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

.balc_indent-child-content {
    padding-left: 12px;
    border-left: 2px solid var(--balc_primary-border-color);
    margin-bottom: 6px;
}

ul.balc_indent-child-content {
    padding-left: 20px;
}

:root {
    /* Sizes */
    --balc_dropdown-display-z-index: 20;
    --balc_menu-display-focus-outline-size: 2px;
    --balc_menu-option-display-padding-width: 10px;
    --balc_menu-option-display-focus-outline-size: 2px;
    --balc_dialog-display-toolbar-height: 2rem;
    --balc_dialog-display-z-index: 10;
    --balc_dialog-display-box-shadow-blur-radius: 2px;
    --balc_dialog-display-button-entry-margin-right: 5px;
    --balc_dialog-display-button-entry-padding: 3px;
    --balc_drag-display-z-index: 30;
    --balc_tree-view-display-focus-outline-size: 10px;
    --balc_tree-view-display-focus-outline-offset: -5px;
    --balc_dropdown-display-default-background-box-shadow-blur-radius: 2px;
    --balc_tabs-bar-height: 2.6rem;
    --balc_tabs-bar-margin-bottom: 10px;
    --balc_notification-display-z-index: 15;
    --balc_notification-display-box-shadow-blur-radius: 2px;
    --balc_notification-display-toolbar-height: 2rem;
    --balc_hr-height: 1.5px;
    --balc_hr-margin: 5px 0;
}

/* Theme CSS */

:root {
    /* Colors (dark-theme) */

    --balc_primary-foreground-color: rgb(230, 230, 230);
    --balc_primary-background-color: #201c1c;
    --balc_secondary-foreground-color: rgb(230, 230, 230);
    --balc_secondary-background-color: #2d2d2d;
    --balc_tertiary-foreground-color: rgb(230, 230, 230);
    --balc_tertiary-background-color: #232323;
    --balc_primary-general-use-color: blue;
    --balc_secondary-general-use-color: gray;
    --balc_success-general-use-color: green;
    --balc_info-general-use-color: #58bebe;
    --balc_warning-general-use-color: yellow;
    --balc_secondary-hover-background-color: #aca2a2;
    --balc_success-hover-background-color: #86d686;
    --balc_info-hover-background-color: #65dede;
    --balc_warning-hover-background-color: #d6d698;
    --balc_outline-with-focus-color: #0646b4;
    --balc_outline-no-focus-color: #cec3c3;
    --balc_active-with-focus-background-color: #415d90;
    --balc_active-no-focus-background-color: #5c5757;
    --balc_box-shadow-color: white;
    --balc_primary-font-color: #d2d2d2;
    --balc_primary-border-color: #d7d7d7;
    --balc_dialog-display-background-color: #2d2f34;
    --balc_primary-box-shadow-color: #f5f5f5;
    --balc-primary-outline-color: #2d498b;
    --balc-primary-active-not-focused-background-color: #566060;
    --balc-primary-active-focused-background-color: #2d498b;
    --balc_dropdown-display-default-background-color: rgb(48, 51, 101);
    --balc_primary-emphasis-foreground-color: #4d8aea;
    --balc_primary-disabled-background-color: #5c5959;
    --balc_primary-disabled-foreground-color: #ba931e;
    --balc_primary-disabled-hover-background-color: #8f7015;
    --balc_primary-disabled-hover-foreground-color: #e6e6e6;
    --balc_notification-display-background-color: #2d2f34;
    --balc_notification-display-toolbar-background-color: #071c57;
    --balc_active-button-background-color: #753282;
    --balc_active-button-primary-font-color: var(--balc_primary-font-color);
    --balc_hr-primary-background-color: currentColor;
    --balc_error-foreground-color: #e55d62;
    --balc_outline-color: var(--balc-primary-outline-color);
    --balc_active-but-not-focused-background-color: var(--balc-primary-active-not-focused-background-color);
    --balc_context-menu-background-color: red;
    --balc_context-menu-foreground-color: green;
    --balc_resize-column-background-color: #d7d7d7;
    --balc_resize-row-background-color: #d7d7d7;
    --balc_icon-solution-font-color: #a074c4;
    --balc_icon-project-font-color: #88d184;
    --balc_icon-razor-font-color: #c586c0;
    --balc_icon-folder-font-color: #d7ab69;
    --balc_icon-json-font-color: #cbc638;
    --balc_icon-c-sharp-class-font-color: #519aba;
    --balc_icon-cshtml-font-color: #c586c0;
    --balc_icon-css-font-color: #e36a6e;
    --balc_icon-js-font-color: #519aba;
    --balc_icon-ts-font-color: #37b38b;
    --balc_icon-start-without-debugging-font-color: #37b38b;
    --balc_toggled-on-background-color: #7f0eb8;
    --balc_toggled-on-hover-background-color: #bb56ac;
    --balc_danger-general-use-color: #b35252;
    --balc_danger-hover-background-color: #ef4949;
    --balc_button-foreground-color: #DCDCDC;
    --balc_button-background-color: #1e56a7;
    --balc_button-hover-background-color: #8e5a15;
    --balc_button-disabled-foreground-color: #DCDCDC;
    --balc_button-disabled-background-color: #4a5a71;
    --balc_button-disabled-hover-background-color: #97a3b4;
    --balc_primary-hover-background-color: #2d568b;
    --balc_toolbar-background-color: #000046;
    --balc_toolbar-foreground-color: #e6e6e6;
}

.balc_visual-studio-light-theme-clone {
    /* Colors (light-theme) */

    --balc_primary-foreground-color: black;
    --balc_primary-background-color: rgb(253, 253, 253);
    --balc_secondary-foreground-color: black;
    --balc_secondary-background-color: rgb(250 250 244);
    --balc_tertiary-foreground-color: black;
    --balc_tertiary-background-color: #f0ebd2;
    --balc_primary-general-use-color: blue;
    --balc_secondary-general-use-color: gray;
    --balc_success-general-use-color: green;
    --balc_info-general-use-color: #58bebe;
    --balc_warning-general-use-color: yellow;
    --balc_primary-hover-background-color: #afd3f4;
    --balc_secondary-hover-background-color: #aca2a2;
    --balc_success-hover-background-color: #86d686;
    --balc_info-hover-background-color: #65dede;
    --balc_warning-hover-background-color: #d6d698;
    --balc_danger-hover-background-color: #d96b6b;
    --balc_outline-with-focus-color: #0064ff;
    --balc_outline-no-focus-color: #2a2727;
    --balc_active-with-focus-background-color: #ADD6FF;
    --balc_active-no-focus-background-color: #c8c8c8;
    --balc_box-shadow-color: black;
    --balc_primary-font-color: black;
    --balc_primary-border-color: black;
    --balc_dialog-display-background-color: rgb(252, 252, 245);
    --balc_primary-box-shadow-color: #000000;
    --balc-primary-outline-color: #ADD6FF;
    --balc_dropdown-display-default-background-color: #e6e6e6;
    --balc_primary-emphasis-foreground-color: #124df9;
    --balc_primary-disabled-background-color: #cfcfcf;
    --balc_primary-disabled-foreground-color: #25180c;
    --balc_primary-disabled-hover-background-color: var(--balc_primary-disabled-foreground-color);
    --balc_primary-disabled-hover-foreground-color: var(--balc_primary-disabled-background-color);
    --balc_notification-display-background-color: rgb(252, 252, 245);
    --balc_notification-display-toolbar-background-color: rgb(192, 214, 247);
    --balc_active-button-background-color: #d889e8;
    --balc_active-button-primary-font-color: var(--balc_primary-font-color);
    --balc_hr-primary-background-color: currentColor;
    --balc_error-foreground-color: red;
    --balc_outline-color: #33bcec;
    --balc_active-but-not-focused-background-color: #7f8e93;
    --balc_context-menu-background-color: red;
    --balc_context-menu-foreground-color: green;
    --balc_resize-column-background-color: black;
    --balc_resize-row-background-color: black;
    --balc_icon-solution-font-color: #8f38d6;
    --balc_icon-project-font-color: #23d519;
    --balc_icon-razor-font-color: #c509db;
    --balc_icon-folder-font-color: #a46d00;
    --balc_icon-json-font-color: #beb106;
    --balc_icon-c-sharp-class-font-color: #2B91AF;
    --balc_icon-cshtml-font-color: #c509db;
    --balc_icon-css-font-color: #de4b50;
    --balc_icon-js-font-color: #519aba;
    --balc_icon-ts-font-color: #37b38b;
    --balc_icon-start-without-debugging-font-color: #37b38b;
    --balc_toggled-on-background-color: #c4eaff;
    --balc_toggled-on-hover-background-color: #67e4ff;
    --balc_danger-general-use-color: #ff8484;
    --balc_button-foreground-color: rgb(240, 240, 240);
    --balc_button-background-color: #0b30c7;
    --balc_button-hover-background-color: #c98800;
    --balc_button-disabled-foreground-color: #000000;
    --balc_button-disabled-background-color: #d7dde6;
    --balc_button-disabled-hover-background-color: #eceff7;
    --balc_toolbar-background-color: #cad5eb;
    --balc_toolbar-foreground-color: var(--balc_primary-foreground-color);
}