:root {
    --balc_tree-view-expansion-chevron-color: currentColor;
    --balc_tree-view-children-border-color: currentColor;
}

.balc_tree-view-exception {
    color: var(--balc_error-foreground-color)
}

.balc_tree-view-state {
    height: 200px;
    overflow: auto;
}

.balc_tree-view-title {
    display: flex;
    white-space: nowrap;
    outline: none;
}

.balc_tree-view-title.balc_selected {
    background-color: var(--balc_active-no-focus-background-color);
}

.balc_tree-view-title.balc_active {
    background-color: var(--balc_active-no-focus-background-color);
}

.balc_tree-view-title.balc_active:focus {
    background-color: var(--balc_active-with-focus-background-color);
}

.balc_tree-view-state:focus-within .balc_tree-view-title.balc_selected {
    background-color: var(--balc_active-with-focus-background-color);
}

.balc_tree-view-state:focus:not(.balc_active) {
    outline: var(--balc_outline-with-focus-color) inset;
}

.balc_tree-view-state:focus .balc_tree-view-title.balc_active {
    background-color: var(--balc_active-with-focus-background-color);
}

.balc_tree-view-children-border {
    border-left: 1.5px solid var(--balc_tree-view-children-border-color);
    opacity: 0.5;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.balc_tree-view-children {
    position: relative;
}

.balc_tree-view-expansion-chevron {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--balc_tree-view-expansion-chevron-color);
}

.balc_tree-view-title-content {
    cursor: default;
}

.balc_tree-view-display-root {
    width: max-content;
    min-width: 100%;
}

.balc_tree-view-display:focus {
    outline: solid var(--balc-primary-outline-color) var(--balc_tree-view-display-focus-outline-size);
    outline-offset: var(--balc_tree-view-display-focus-outline-offset);
}

.balc_tree-view-display-title {
    position: relative;
    white-space: nowrap;
    display: flex;
    cursor: default;
    min-width: 100%;
}

.balc_tree-view-display-title:hover {
    background-color: var(--balc_primary-hover-background-color);
}

.balc_tree-view-display-title.balc_active {
    background-color: var(--balc_active-with-focus-background-color);
}

.balc_tree-view-display-title.balc_active:focus {
    background-color: var(--balc_active-with-focus-background-color);
}

.balc_tree-view-display-expansion:hover {
    background-color: var(--balc_primary-font-color);
    color: var(--balc_body-background-color);
}

.balc_tree-view-display-body {
    position: relative;
}

.balc_tree-view-display-body-border {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: var(--balc_hr-height) solid var(--balc_hr-primary-background-color);
    opacity: var(--balc_hr-opacity);
}